<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{style.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>Attraction Tags</title>
</head>
<body>
<h1>Attraction Tags</h1>
<table th:if="${attractionTags.size() > 0}">
    <thead>
    <tr>
        <td th:text="${name}"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${attractionTags}">
        <td th:text="${tag}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/attractions}">Return</a>
</body>
</html>